#outer-box {
	background-color: rgba(0, 0, 0, 0.32);
	padding: 8px;
	font-family: 'Roboto';
}

window {
	background-color: transparent;
}

#input {
	background-color: rgba(#f8f8ffee);
	border: none;
	outline: none;
	padding: 4px 8px;
	border-radius: 7px;
	margin-bottom: 8px;
}

#scroll {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 4px;
	border: none;
	border-radius: 7px;
}

#entry {
	padding: 4px 8px;
}

#entry:selected {
	background: linear-gradient(45deg, rgba(0,180,231,0.32) 0%, rgba(0,231,180,0.32) 100%);
	border-radius: 3px;
	outline: none;
}

